<div class="cart-page">
    <div class="cart-items">
        <div class="page-header">
            <h2>Cart Items</h2>
            <div class="cart-items-count">
                <p>Total Items: <span>{{ cartService.cartItemsList().length }}</span></p>
                <p>Total Price: <span>₹{{ totalPrice() }}</span></p>
            </div>
        </div>
      <div class="container">
        @for (item of cartService.cartItemsList(); track $index) {
          <app-items-card [item]="item" [isCartPage]="true" (removeFromCart)="removeFromCart(item.id)"/>
        }
      </div>
    </div>
  </div>
