// Basic color definitions
$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;
$yellow: #ffff00;
$white: #ffffff;
$black: #000000;
$gray: #808080;
$light-gray: #d3d3d3;
$dark-gray: #a9a9a9;

// Theme colors
$primary: #db4444;
$secondary: #ffc107;
