<div class="top-header">
  <p class="header-text">Shop now and enjoy the best deals of the season!</p>
  <p i18n="@@welcomeMessage">Welcome to our application!</p>
  <button i18n-title title="Click to submit">Submit</button>

  <div class="language-dropdown">
    <button class="dropdown-btn">
      <span> {{ selectedLanguage() }} </span>
      <i class="fa fa-globe"></i>
    </button>
    <div class="dropdown-options">
      @for (language of languageList; track $index) {
      <span class="option" [class]="{
        selected: selectedLanguage() === language
      }" (click)="selectedLanguage.set(language)">
        {{language}}
      </span>
      }
    </div>
  </div>
</div>