.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
  }
}
