@use "../../scss/colors" as *;

.nav-bar {
  position: fixed;
  top: 26px;
  width: 100%;
  height: 4rem;
  background: $white;
  box-shadow: 0 0 0.5rem $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  .brand-logo {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    cursor: pointer;
    display: flex;
    align-items: center;

    .logo-v {
      color: $primary;
      font-size: 2.2rem;
    }

    .logo-text {
      font-size: 2.2rem;
    }
  }

  .cart-icon,
  .logout {
    font-size: 1.2rem;
    cursor: pointer;
  }

  .cart-icon {
    padding: 0 2rem;
    font-size: 2rem;
  }
}
