@use "../../scss/colors" as *;

.input-container {
  position: relative;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  gap: 1rem;

  .mat-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 320px;
  }

  .input-field {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
      border-color: $primary;
      box-shadow: 0 0 4px $secondary;
      background: $white;
    }
  }

  .input-label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    color: $gray;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .input-field:focus + .input-label,
  .input-field:not(:placeholder-shown) + .input-label {
    top: 0;
    font-size: 12px;
    color: $primary;
    background-color: $white;
    padding: 0 4px;
    margin-left: -4px;
  }

  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;

    &:hover {
      background-color: #0056b3;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 4px #0056b3;
    }
  }
}
