<div class="input-container">
  <h2>Login</h2>
    <div class="mat-input-wrapper">
      <input
        id="inputId"
        name="inputName"
        type="text"
        class="input-field"
        placeholder=""
        required
      />
      <label for="inputId" class="input-label">
        Input Label
      </label>
    </div>
    <div class="mat-input-wrapper">
      <input
        id="passwordId"
        name="passwordName"
        type="password"
        class="input-field"
        placeholder=""
        required
      />
      <label for="passwordId" class="input-label">
        Password
      </label>
    </div>
    <div class="mat-input-wrapper">
    <button type="submit" class="submit-button">Login</button>
  </div>
  </div>
